@import "variables";

@mixin ellipsis(){
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin dropdown(){
    ::ng-deep{
      p-dropdown{
        outline:none;
        width: 100%;
        display: inline-block;
        position: absolute;
        .ui-dropdown{
          width: 100%;
          height: $dropdown-label-height;
          outline:none;
          overflow: visible;
       
          .ui-helper-hidden-accessible{
            display: none
          }
  
          .ui-dropdown-label{
            font-size: 15px;
            border: 1px solid #dadada;
            color: gray;
            font-family: $app-font-family;
            padding-left: 10px;
            display: flex;
            align-items: center;
            height: $dropdown-label-height;
            border-radius: 3px;
            @include ellipsis();
          }
  
          .ui-dropdown-panel{
            font-size: 14px;
            height: auto;
            border: 1px solid $dropdown-border;
            max-height: 178px;
            background-color: $dropdown-bck;
            border-radius: 3px;
            position: relative;
            top: 0 !important;
  
            .ui-dropdown-items-wrapper{
              height: auto;
              max-height: 138px!important;
              border-radius: 3px;
              background-color: $dropdown-bck;
              overflow-y: auto;
              width: 100%;
              z-index: 1;
              .ui-dropdown-list{
                padding:6px;
                height: 100%;
  
                .ui-dropdown-item{
                  height: 30px;
                 
                  padding-left: 9px;
                  display: flex;
                  align-items: center;
                  border-radius: 3px;
                  span{
                    @include ellipsis();
                  }
                  // not selected
                  &:not(.ui-state-highlight){
                    &:hover{
                      background-color: $dropdown-item-hover;
                      color: white;
                    }
                  }
          
                  // selected
                  &.ui-state-highlight{
                    background-color: $pale-blue;
                    color: $text-color;
                  }
                }
              }
  
              &::-webkit-scrollbar {
                width: 18px;
              }
              
              &::-webkit-scrollbar-thumb {
                border-right: 6px solid rgba(0, 0, 0, 0);
                border-left: 6px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                border-radius: 7px;
                background-color: rgba(0, 0, 0, 0.15);
                box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
              }
              &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;
              }
              &::-webkit-scrollbar-corner {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }


@mixin table(){
    ::ng-deep p-datatable{
      .ui-datatable{
        table{
          thead{
            tr{
              height: $table-row-height;
              th{
                height: 21px;
                font-size: 18px;
                font-weight: 500;
                padding: 10px;
                margin: 0 10px;
              }
            }
          }
          tbody{
            tr{
              height: $table-row-height;
              td{
                height: 32px;
                font-size: 14px;
                padding: 10px;
                .ui-cell-data{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }