$app-gray: #dadada;
$app-font-family: "Montserrat";
$app-color: #29ABE2;
$app-color-hover: #3dd0ff;
$card-background: #3f4247; // charcoal-grey
$kh-background: #25292c;
$pale-blue: #44acdf;
$text-color: #fff;

// table
$table-row-height : 53px;
$greyish-text: #dddddd; // table-borders
$hover-color: #272c2f; // table-hover
$cool-grey: #4c5156; // table-borders

//dropdown
$dropdown-border:#6a7077;
$dropdown-list-bck : #5e626a;
$dropdown-item-hover: #4c4e53;
$dropdown-label-height: 38px;

$turquoise-blue: #02a7c7; // sidebar, highlighted text