@import "mixins";
@import "variables";

@include dropdown();

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .form{
        display: flex;
        padding-bottom: 45px;
        border-bottom: 1px solid $app-gray;
        .create-field{
            width: 50%;
            padding-right: 40px;
            .form-field{
                .content{
                    .input-element{
                        display: block;
                        position: relative;
                        height: 75px;
                        &:not(:first-child){
                            margin-top: 17px;
                            div{
                                margin-top: 17px;
                            }
                        }
                        &:last-child{
                            margin-bottom: 17px;
                            .error{
                                margin-top: 48px;   
                            }
                        }
                    }
                }
            }
        }
        .field-list{
            width: 50%;
            padding-left: 40px;
            border-left: 1px solid $app-gray;
            height: 300px;
            overflow: auto;
            .header{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                span{
                    font-size: 21px;
                }
            }
            .content{
                display: flex;
                border-bottom: 1px solid $app-gray;
                align-items: center;
                &:hover{
                    .hover{
                        visibility: visible !important;
                    }
                }
                span{
                    width: 85%;
                    padding: 10px;
                    display: block;
                }
                i{
                    display: block;
                    cursor: pointer;
                    &.hover{
                        visibility: hidden;
                    }

                }
            }
        }

    }
    .create{
        display: flex;
        justify-content: center;
        .content{
            width: 50%;
            margin-top: 40px;
            .form-name{
                margin-bottom: 17px;
            }
        }
    }
}
