    
@import "variables";


html,body{
    margin:0;
    height:100%;
}

span,a,input,small,p{
    font-family: $app-font-family;
    opacity: 0.7;
}

.form-button{
    background-color: $app-color;
    border-radius: 22px;
    height: 42px;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    display: inline-flex;
    opacity: 1;
    text-decoration: none;
    span{
        opacity: 1;
        color: white;
        font-size: 17px;
    }
    &:hover{
        background-color: $app-color-hover;

    }
    &:active{
        background-color: $app-color
    }
}

.input{
    display: flex;
    flex-direction: column;
    .label{
        display: block;
        font-size: 12px; 
        margin-bottom: 6px;
    }
    .error-message{
        background-color: $app-error-background;
        border: 1px solid $app-error-border-color;
    }

    input{
        border: 1px solid $app-gray;
        &:focus{
            outline: none;
            border: 1px solid $app-color;
        }
        &::placeholder{
            font-family: $app-font-family;
        }
        padding: 10px;
        font-size: 15px;
        width: 95%;
    }
    .error{
        font-size: 11px;
        margin-top: 3px;
        color: red;
        display: block;
        height: 11px;
    }
}