@import "variables";
@import "mixins";

.input{
    display: flex;
    flex-direction: column;
    @include dropdown();
    .label{
        display: block;
        font-size: 12px; 
        margin-bottom: 6px;
    }
    .error-message{
        background-color: $app-error-background;
        border: 1px solid $app-error-border-color;
    }

    input{
        border: 1px solid $app-gray;
        &:focus{
            outline: none;
            border: 1px solid $app-color;
        }
        &::placeholder{
            font-family: $app-font-family;
        }
        padding: 10px;
        font-size: 15px;
    }
    .error{
        font-size: 11px;
        margin-top: 3px;
        color: red;
        display: block;
        height: 11px;
    }
}