<div>
    <div class="input" *ngIf="!isDropDown">
        <span class="label">{{label}}</span>
        <input type="{{type}}" [(ngModel)]="text" [ngClass]="{'error-message':errorMessage, 'error-message-end':!errorMessage}" placeholder="{{placeholder}}" (keyup)="propagateChangeToParent()" />
    </div>
    <div class="input" *ngIf="isDropDown">
        <p-dropdown  
        [options]="inputType" 
        [(ngModel)]="text"  
        (onChange)="propagateChangeToParent()"
        [autoWidth]="false">
        </p-dropdown>
    </div>
</div>